@model IEnumerable<CMSFinal.Models.Submission>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubmissionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmissionDescription)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <b>@Html.DisplayFor(modelItem => item.SubmissionName) </b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmissionDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SubmissionId }) |
                @Html.ActionLink("Details", "Details", new { id = item.SubmissionId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SubmissionId })
            </td>
        </tr>
    }

</table>
